.relatedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    margin-bottom: 700px;
}
.relatedproducts h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.relatedproducts hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.relatedproducts-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}
.relatedproducts-item {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between items */
    margin-left: 140px;
    margin-bottom: 30px;
}

.relatedproducts-item img {
    width: 200px; /* Set a fixed width */
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 5px; /* Add rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a soft shadow */
    align-items: center;
    margin-left: 70px;
}
