.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh; 
    justify-content: space-between;  
}
.new-collections h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.new-collections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.collections{
    display: flex;
    margin-top: 50px;
    gap: 30px;
}
.collections img {
    max-width: 200px; 
    max-height: 200px; 
    object-fit: cover;
  }
