.productdisplay{
    display: flex;
    margin: 0px 70px;
}
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column; 
    gap: 16px;
}
.productdisplay-img-list img{
    height: 100px;
}
.productdisplay-img-list img:first-child {
    margin-top: 35px; /* Specific margin for the first item */
}
.productdisplay-main-img{
    margin-top: 35px;
    width: 335px;
    height: 448px;
}
.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 600;
    white-space: nowrap;
}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.productdisplay-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-price-new{
    color: #ff4141;
}
.productdisplay-right-size {
    margin-top: 20px; /* Adjust margin as needed */
}

.productdisplay-right-size h1 {
    color: #3d3d3d;
    font-size: 20px;
    font-weight: 600;
}

.productdisplay-right-sizes {
    position: relative; /* Position relative for absolute positioning */
}

.productdisplay-right-sizes select {
    appearance: none; /* Remove default select styles */
    border: 1px solid #ccc; /* Add border */
    padding: 8px 30px 8px 10px; /* Adjust padding */
    font-size: 16px;
    width: 60%; /* Full width */
    cursor: pointer; /* Add pointer cursor */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Soft shadow */
    margin-bottom: 10px;
}


/* Style options */
.productdisplay-right-sizes option {
    color: #3d3d3d;
    background-color: #fff;
}
.productdisplay-right button{
    padding: 20px 20px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #FF4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}
.productdisplay-right-category{
    margin-top: 10px;
}
.productdisplay-right-category span{
    font-weight: 600;
}
