.descriptionbox{
    margin: 70px 70px;
}
.descriptiobox-navigator{
    display: flex;
}
.descriptionbox-nav-box{
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 16px;
    width: 171px;
    height: 40px;
    border: 1px;
    font-weight: 600;
    color: #555;
}
.descriptionbox-nav-box.fade{
    background: #FBFBFB;
    color: #555;
}
.descriptionbox-description{
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #D0D0D0;
    padding: 18px;
    border-radius: 10px;
    padding-bottom: 70px;
}