.list-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 740px;
    padding: 10px 50px;
    margin: 30px;
    border-radius: 6px;
    background: white;
}
.listproduct-format-main{
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr)); /* Equal width columns */
    gap: 10px;
    width: 100%;
    padding: 10px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;

}
.listproduct-format{
    grid-template-columns: repeat(6, minmax(0, 1fr)); /* Equal width columns */
    gap: 50px;
    font-weight: 450;
}
.listproduct-format-main p {
    padding: 10px; /* Add padding to the paragraphs */
    text-align: center; /* Center align text */
  }
.listproduct-product-icon{
    width: 75px;
    height: 75px;
    margin: 7px 0;
}
.remove-icon{
    margin: 30px 40px;
    cursor: pointer;
}